<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">URL Shortener</h1>

      <form action="/shorten" method="POST" class="mt-4">
        <div class="input-group mb-3">
          <input
            type="text"
            name="url"
            class="form-control"
            placeholder="Enter URL"
            required
          />
          <button type="submit" class="btn btn-primary">Shorten</button>
        </div>
      </form>

      <div class="mt-4">
        <h3>Shortened URL:</h3>
        <p>
          <a href="{{ shortenedUrl }}">{{ shortenedUrl }}</a>
        </p>
      </div>

      <div class="mt-5">
        <h3>Recent URLs:</h3>
        <ul class="list-group">
          <% for (let i = 0; i < recentUrls.length; i++) { %>
          <li class="list-group-item">
            <a href="<%= recentUrls[i].shortUrl %>"
              ><%= recentUrls[i].shortUrl %></a
            >
            <span class="text-muted">
              (Original URL: <%= recentUrls[i].originalUrl %>)</span
            >
          </li>
          <% } %>
        </ul>
      </div>
    </div>

    <!-- Bootstrap JS (Optional, if you need to include Bootstrap JS functionality) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
